[submodule "roles/docker"]
	path = roles/docker
	url = git@github.com:marklee77/ansible-role-docker.git
[submodule "roles/pip"]
	path = roles/pip
	url = git@github.com:bobbyrenwick/ansible-pip.git
[submodule "roles/docker-marklee77"]
	path = roles/docker-marklee77
	url = git@github.com:marklee77/ansible-role-docker.git
[submodule "roles/mhamrah/docker"]
	path = roles/mhamrah/docker
	url = https://github.com/mhamrah/ansible-docker
